body {
    background-color: black;
}


/*----------------DESKTOP SITE-----------------------*/

@media only screen and (min-width: 777px) {

    body {
		margin: 0;
		padding: 0;
		background-color: white;
	}

	* {
	    box-sizing: border-box;
	    
	}

	/*----------------------------------ABOUT ME PAGE----*/

	/*centers items vertically*/
	.ta {
		display: flex;
		align-items: center;
	}

	/*aboutme text*/
	.sec1 {
		font-family: 'Lato', serif;
		color: #A9AEA2;
		float: left;
		padding-top: 10%;
		width: 50%;
		padding: 8%;
		padding-top: 5%;
		padding-bottom: 10%;
		left: 5%;
		position: relative;
		background-color: black;
	}

	/* ace */
	.img1 {
		float: right;
		width: 27em;
		height: 15em;
		left: 12%;		
		position: relative;
	}

	/** ----------------------------------------------ABOUT ME PART 2 **/
	/*centers items vertically*/
	.ap {
		display: flex;
		align-items: center;
	}

	.img2 {
		float: left;
		width: 15em;
		height: 15em;
		left: 12%;		
		position: relative;
	}

	/*aboutme text*/
	.sec2 {
		font-family: 'Lato', serif;
		color: black;
		float: right;
		width: 90%;
		padding: 8%;
		padding-top: 15%;
		padding-bottom: 15%;
		padding-left: 40%;
		position: relative;
	}

	/*.sec2 p {
		z-index: 5;
	}

	/** -----------------------------------------------ABOUT ME PART 3 **/
	/*centers items vertically*/
	.ps {
		display: flex;
		align-items: center;
	}

	/*aboutme text*/
	.sec3 {
		font-family: 'Lato', serif;
		color: #A9AEA2;
		float: left;
		left: 5%;
		width: 50%;
		padding: 8%;
		padding-top: 10%;
		position: relative;
		background-color: black;
		z-index: 2;
	}

	.img3 {
		float: right;
		width: 35%;
		height: 15em;
		left: 12%;		
		position: relative;
	}

	/** -----------------------------------------------FOOTER **/
	/*centers items vertically*/
	.footer {
		display: flex;
		align-items: center;
		background-color: black;
		width: 100%;
		padding-top: 10%;
	}

	.footersec {
		width: 100%;
		font-family: 'Lato', serif;
		color: #555654;
		float: right;
		padding-left: 5%;
		background-color: black;
	}


	/*----------------------------------------------------HEADER----*/

	/*header line*/
	.hline {
		width: 100%;
		top: 70px;/*make vh*/
		color: black;
		border-top: 2px solid black;/*make vh*/
		position: absolute;
	}

	.header {
		width: 100%;
		font-family: 'Lato', serif;
	    font-size: 13px;/*make vh*/
	}

	/*left list*/
	.ul2
	{
		position: relative;
		display: flex;
		float: left;
		padding: 0 4vh;
	}

	/*right list*/
	.ul1
	{
		position: relative;
		display: flex;
		float: right;
		padding: 0 4vh;
	}

	/*my name*/
	.header h1 {
		margin: 0;
		position: relative;
		display: flex;
		float: left;
		display: block;
		padding: 0 2vh;/*make vh*/
		list-style: none;
		line-height: 90px;/*make px*/
		text-align: center;
		text-decoration: none;
		color: black;
		font-weight: bold;
		margin-left: 6vh;/*make vh*/
	}

	.header ul li
	{
		list-style: none;
		line-height: 75px;/*make px*/
		text-align: center;
	}

	.header ul li a
	{
		display: block;
		padding: 0 2vh;/*make vh*/
		text-decoration: none;
		color: black;
		font-weight: bold;
	}

	.header ul li span
	{
		display: block;
		padding: 0 2vh;/*make vh*/
		text-decoration: none;
		color: white;
		background-color: black;
		font-weight: bold;
	}

	.header ul li a:hover
	{
		font-family: 'Lato', serif;
	    font-size: 12px;/*make vh*/
	    color: rgba(0, 0, 0, 0.8);
	}


}



